$primary: #191919;
$secondary: #F75C03;
$success: #33fff5;
$info: #546A76;
$warning: #ffc15E;

$border-radius: 8px;
$border-radius-sm: 16px;
$border-radius-lg: 24px;

@import '../node_modules/bootstrap/scss/bootstrap
